[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
Flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-httpauth = "*"
itsdangerous = "*"
passlib = {extras = ["bcrypt"],version = "*"}
elasticsearch = "*"
psycopg2-binary = "*"
requests = "*"
submit50 = "*"

[requires]
python_version = "3.7"
